<ion-header [translucent]="true"> <!-- Ionic header component with translucent background -->
  <ion-toolbar> <!-- Ionic toolbar component -->
    <ion-title> <!-- Ionic title component -->
      GameFindr <!-- Title text -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- Ionic content component with fullscreen mode -->
  <ion-header collapse="condense"> <!-- Ionic header component with collapse behavior -->
    <ion-toolbar> <!-- Ionic toolbar component -->
      <ion-title size="large">GameFindr</ion-title> <!-- Large-sized title text -->
    </ion-toolbar>
  </ion-header>

  <ion-toolbar> <!-- Ionic toolbar component -->
    <ion-tabs> <!-- Ionic tabs component -->
      <ion-tab-bar> <!-- Ionic tab bar component -->
        <ion-tab-button [routerLink]="['/home']"> <!-- Ionic tab button with router link to home page -->
          Top Rated Games <!-- Tab button text -->
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/page1']"> <!-- Ionic tab button with router link to page1 -->
          Page1 <!-- Tab button text -->
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/page2']"> <!-- Ionic tab button with router link to page2 -->
          About Us <!-- Tab button text -->
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>

  @for (item of games; track item.id) { <!-- Loop through games array -->
    <ion-item [routerLink]="['/game-details', item.id]"> <!-- Ionic item component with router link to game details -->
      <ion-avatar class="image"> <!-- Ionic avatar component with image -->
        <img [src]="item.background_image" alt="poster"> <!-- Image source bound to background_image property -->
      </ion-avatar>

      <ion-label class="ion-text-wrap"> <!-- Ionic label component with text wrap -->
        <h3> {{ item.name }}  </h3> <!-- Heading displaying game name -->
        <p>Metacritic Score: {{item.metacritic}}</p> <!-- Paragraph displaying Metacritic score -->
      </ion-label>
      <ion-badge slot="end"></ion-badge> <!-- Empty badge slot -->
    </ion-item>
  }
</ion-content>
