<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GameFindr
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  @for (item of games; track item.id) {
    <ion-item>
      <ion-avatar>
        <img>
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>  </h3>
        <p>{{ item.games[0].name }}</p>
      </ion-label>
      <ion-badge slot="end"></ion-badge>
    </ion-item>
    }


</ion-content>
